{{ "<!-- jQuery -->" | safeHTML }}
<script src="../js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "../js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "../js/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "../js/jquery.fittext.js" | absURL }}"></script>
<script src="{{ "../js/wow.min.js" | absURL }}"></script>
{{ if .Site.Params.location }}
<script src="//maps.googleapis.com/maps/api/js?key={{ .Site.Params.location.maps_api_key }}&v=3.exp"></script>
<script src="{{ "../js/hpneo.gmaps.js" | absURL }}"></script>
<script src="{{ "../js/gmaps.init.js" | absURL }}"></script>
{{ end }}
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "../js/creative.js" | absURL }}"></script>
